In [27]:
import pandas as pd

In [28]:
# Read csv file
df = pd.read_csv('./data/processed_data/2013-2022_wo_lags.csv')

In [29]:
df["Moneyness"] = df['Underlying_last']/df["Strike"]

In [30]:
# Filter for quote date between 2021-01-01 and 2022-12-31
df = df[(df['Quote_date'] >= '2020-01-01') & (df['Quote_date'] <= '2022-12-31')]
before_len = len(df)

In [31]:
#Filter on moneyness between 0.7 and 1.5 (cutting out top and bottom 5%n of 2021-2022 period)
df = df[(df['Moneyness'] >= 0.77454) & (df['Moneyness'] <= 2.27655)]
#Filter on TTM between 45 and 120
# df = df[(df['TTM'] >= 45) & (df['TTM'] <= 120)]

after_len = len(df)

In [32]:
# Save filtered data
df.to_csv('./data/processed_data/2020_2022_moneyness_filtere.csv')

In [33]:
display(df)

,Unnamed: 0,Quote_date,Price,Underlying_last,Strike,TTM,R,Moneyness
6701729,6701729,2020-01-02,1755.645,3258.14,1500.0,1,1.53,2.172093
6701730,6701730,2020-01-02,1655.955,3258.14,1600.0,1,1.53,2.036338
6701731,6701731,2020-01-02,1556.195,3258.14,1700.0,1,1.53,1.916553
6701732,6701732,2020-01-02,1456.210,3258.14,1800.0,1,1.53,1.810078
6701733,6701733,2020-01-02,1406.200,3258.14,1850.0,1,1.53,1.761157
...,...,...,...,...,...,...,...,...
12459146,12459146,2022-12-30,415.150,3839.81,4500.0,1085,4.22,0.853291
12459147,12459147,2022-12-30,375.050,3839.81,4600.0,1085,4.22,0.834741
12459148,12459148,2022-12-30,337.350,3839.81,4700.0,1085,4.22,0.816981
12459149,12459149,2022-12-30,302.650,3839.81,4800.0,1085,4.22,0.799960
12459150,12459150,2022-12-30,270.450,3839.81,4900.0,1085,4.22,0.783635

In [34]:
print("Number of rows before filtering: ", before_len)
print("Number of rows after filtering: ", len(df))
print("Percentage of rows kept: ", round(len(df)/before_len*100, 2), "%")

Number of rows before filtering:  5757450
Number of rows after filtering:  5185545
Percentage of rows kept:  90.07 %