In [1]:
import pandas as pd

In [2]:
# Read csv file
df = pd.read_csv('./data/processed_data/2013-2022_wo_lags.csv')

In [3]:
df["Moneyness"] = df['Underlying_last']/df["Strike"]

In [4]:
# Filter for quote date between 2021-01-01 and 2022-12-31
df = df[(df['Quote_date'] >= '2021-01-01') & (df['Quote_date'] <= '2022-12-31')]

In [5]:
#Filter on moneyness between 0.7 and 1.5 (cutting out top and bottom 5%)
df = df[(df['Moneyness'] >= 0.77454) & (df['Moneyness'] <= 2.27655)]
#Filter on TTM between 45 and 120
# df = df[(df['TTM'] >= 45) & (df['TTM'] <= 120)]

In [6]:
#Filter on moneyness between 0.5 and 20
df = df[(df['Moneyness'] >= 0.5) & (df['Moneyness'] <= 20)]
#Filter on TTM between 7 and 1085
df = df[(df['TTM'] >= 7) & (df['TTM'] <= 1085)]

In [7]:
#Filter on moneyness between 0.7 and 1.4
df = df[(df['Moneyness'] >= 0.7) & (df['Moneyness'] <= 1.4)]

In [8]:
# Save filtered data
df.to_csv('./data/processed_data/2021_2022_moneyness_filtere.csv')

In [9]:
display(df)

,Unnamed: 0,Quote_date,Price,Underlying_last,Strike,TTM,R,Moneyness
8401171,8401171,2021-01-04,1001.000,3701.38,2700.0,7,0.09,1.370881
8401172,8401172,2021-01-04,948.600,3701.38,2750.0,7,0.09,1.345956
8401173,8401173,2021-01-04,901.100,3701.38,2800.0,7,0.09,1.321921
8401174,8401174,2021-01-04,851.200,3701.38,2850.0,7,0.09,1.298730
8401175,8401175,2021-01-04,801.305,3701.38,2900.0,7,0.09,1.276338
...,...,...,...,...,...,...,...,...
12459146,12459146,2022-12-30,415.150,3839.81,4500.0,1085,4.22,0.853291
12459147,12459147,2022-12-30,375.050,3839.81,4600.0,1085,4.22,0.834741
12459148,12459148,2022-12-30,337.350,3839.81,4700.0,1085,4.22,0.816981
12459149,12459149,2022-12-30,302.650,3839.81,4800.0,1085,4.22,0.799960
12459150,12459150,2022-12-30,270.450,3839.81,4900.0,1085,4.22,0.783635